<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.troubleskiller.mapper.CategoryMapper">
    <select id="selectAllCategory" resultType="com.troubleskiller.pojo.Category">
        select * from tb_category;
    </select>
    <insert id="addCategory">
        INSERT INTO tb_category (category_name,category_py,description,`order`)
        VALUES (#{category_name},#{category_py},#{description},#{order});
    </insert>
</mapper>